# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5c5d953c028bb456249df23f06a1c31c"
name = "SF Reward Bar "
handle = "sf-reward-bar"
application_url = "https://sf-rewardbar.sfaddons.com/"
embedded = true

[build]

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
  uri = "https://sf-rewardbar.sfaddons.com/webhooks"

[auth]
redirect_urls = [ "https://sf-rewardbar.sfaddons.com/authenticate" ]

[pos]
embedded = false
